/*Html Default settings*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* header */
.bigscreen {
  display: flex;
  padding: 20px 30px;
  background-color: black;
  justify-content: space-between;
}

.bigscreen ul {
    display: flex;
    gap: 0.5rem;
}

.bigscreen .dropdown-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.bigscreen .logo {
    color: blue;
}

.logo a{
    font-size: 20px;
    font-family: 'Magneto', sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  .mid-link1, .right-link1{
    background-color: #F37400;
    color: #fff;
    border-radius: 10px 2px 10px 2px;
 }

li {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
/* background-color: #fff; */
  color: green;
}

/*Header*/
.smallscreen {
  display: none;
}

.bkg-img{
    background-image: url(../images/bkgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

/* Dropdown Button */
.smallscreen {
  position: absolute;
  right: 1rem;
  top: 75px;
  height: 0;
  width: 170px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

.smallscreen.open{
    height: 140px;
}

.smallscreen li{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

/* Responsive design */
@media screen and (max-width: 992px){
    .bigscreen .mid-link,
    .bigscreen .right-link {
        display: none;
    }
.bigscreen .dropdown-btn{
    display: block;
}

    .smallscreen {
        display: block;   
    }

    ul a{
        color: #F37400;
    }

}

@media screen and (max-width: 597px){
    .smallscreen {
        left: 2rem;
        width: unset;
    }
    ul a{
        color: #F37400;
    }
}