/*Html Default settings*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* body */
body{
  background-image: url(../images/bkgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* header */
.bigscreen {
  display: flex;
  padding: 20px 30px;
  background-color: black;
  justify-content: space-between;
}

.bigscreen ul {
    display: flex;
    gap: 0.5rem;
}

.bigscreen .dropdown-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.bigscreen .logo {
    color: blue;
}

.logo a{
    font-size: 20px;
    font-family: 'Magneto', sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    pointer-events: none;
    color: green;
  }

  /* Buttons */
  .mid-link1, .right-link1, .get_started-btn {
    background-color: #F37400;
    color: #fff;
    border-radius: 10px 2px 10px 2px;
 }

 button a{
  color: #fff;
  text-decoration: none;
}

.get_started-btn-div{
  display: flex;
  justify-content: center;
  height: 25px;
}

.get_started-btn{
  background-color: green;
}

li {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: green;
}

.get_started-btn a:hover{
  color: #F37400;
}


/*Header for Small screen*/
.smallscreen {
  display: none;
}

/* Dropdown Button */
.smallscreen {
  position: absolute;
  right: 1rem;
  top: 75px;
  height: 0;
  width: 170px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.smallscreen a{
  color: black;
}

.smallscreen a:hover{
  color: green;
}

.smallscreen.open{
    height: 70px;
}

.smallscreen li{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

/* Aside */
.asides {
  padding: 20px;
  margin-bottom: 20px;
}

.aside-same {
  display: flex;
  max-width: 1400px;
  margin: 40px 20px 20px 20px;
  gap: 2rem;
}

.aside-center{
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  color: #fff;
  border-radius: 20px;
  font-size: 2rem;
  line-height: 3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.aside-center .main-heading {
  color: #F37400;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 40px;
}

/* Section */
.aside-next{
  color: #F37400;
  font-size: 2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  padding: 0px 60px;
  line-height: 3rem;
}


/* Responsive design */
@media screen and (max-width: 992px){
    .bigscreen .mid-link,
    .bigscreen .right-link {
        display: none;
    }
.bigscreen .dropdown-btn{
    display: block;
}

    .smallscreen {
        display: block;   
    }

    ul a{
        color: #F37400;
    }

    .aside-same{
      display: flex;
      flex-direction: column;
    }

    .get_started-btn-div{
      margin-top: 20px;
    }

}

@media screen and (max-width: 597px){
    .smallscreen {
        left: 2rem;
        width: unset;
    }
    ul a{
        color: #F37400;
    }

    .aside-same{
      display: flex;
      flex-direction: column;
    }
}